html {
	font-family: Arial, sans-serif;
}

.container {
	margin: 5px 5px 5px 0;
}

.checkpointButton {
	padding: 10px;
}

.flashMessageContainer {
	display: inline-block;
	padding: 6px;
	color: white;
	border-radius: 3px;
}

.flashMessageContainer.error {
	background-color: red;
}

.flashMessageContainer.success {
	background-color: green;
}
